spring:
  application:
   name: itmanager

  datasource:
    url: jdbc:postgresql://localhost:5432/itmanager
    username: admin
    password: postgres
    driverClassName: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8090
