spring:
  application:
   name: itmanager

  datasource:
    url: jdbc:h2:mem:itmanager
    username: sa
    password: password
    driverClassName: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.H2Dialect

